---
layout: default
---

<div class="post-header mb2">
  <h1>{{ page.title }}</h1>
    <span class="post-meta">{{ page.date | date: site.date_format }}</span>
  </span>
</div>

<article class="post-content">

  <dl class="log-data">
    <dt class="log-data__label">Lat</dt>
    <dd class="log-data__value">{{ page.lat }}</dd>
    <dt class="log-data__label">Lon</dt>
    <dd class="log-data__value">{{ page.lon }}</dd>
    <dt class="log-data__label">Time</dt>
    <dd class="log-data__value">{{ page.time }}</dd>
    <dt class="log-data__label"><span title="Distance (nautical miles)">Log</span></dt>
    <dd class="log-data__value">{{ page.log }} nm</dd>
    <dt class="log-data__label"><span title="Course Over Ground">COG</span></dt>
    <dd class="log-data__value">{{ page.cog }}</dd>
    <dt class="log-data__label"><span title="Speed Over Ground (knots)">SOG</span></dt>
    <dd class="log-data__value">{{ page.sog }} kt</dd>
  </dl>

  <h2>Remarks</h2>
  {{ content }}
</article>
