---
layout: default
---

<div class="post-header mb2">
  <h1>{{ page.title }}</h1>
    <span class="post-meta">{{ page.date | date: site.date_format }}</span><br>
    <span class="post-meta">{{ page.lat }}, {{ page.lon }}</span><br>
  </span>
</div>

<article class="post-content">
  <table class="log-data">
    <thead>
      <tr>
        <th>Time</th>
        <th><span title="Distance (nautical miles)">Log</span></th>
        <th><span title="Course Over Ground">COG</span></th>
        <th><span title="Speed Over Ground (knots)">SOG</span></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ page.time }}</td>
        <td>{{ page.log }} nm</td>
        <td>{{ page.cog }}</td>
        <td>{{ page.sog }} kt</td>
      </tr>
    </tbody>
  </table>  
  <h2>Remarks</h2>
  {{ content }}
</article>

