---
layout: default
---

<div class="post-header mb2">
  <h1>{{ page.title }}</h1>
    <span class="post-meta">{{ page.date | date: site.date_format }}</span><br>
    <span class="post-meta">{{ page.lat }}, {{ page.lon }}</span><br>
  </span>
</div>

<article class="post-content">

  <dl class="log-data">
    <dt class="log-data__label label--time">Lat</dt>
    <dd class="log-data__value value--time">{{ page.lat }}</dd>
    <dt class="log-data__label label--log">Lon</dt>
    <dd class="log-data__value value--log">{{ page.lon }} nm</dd>
    <dt class="log-data__label label--time">Time</dt>
    <dd class="log-data__value value--time">{{ page.time }}</dd>
    <dt class="log-data__label label--log"><span title="Distance (nautical miles)">Log</span></dt>
    <dd class="log-data__value value--log">{{ page.log }} nm</dd>
    <dt class="log-data__label label--cog"><span title="Course Over Ground">COG</span></dt>
    <dd class="log-data__value value--cog">{{ page.cog }}</dd>
    <dt class="log-data__label label--sog"><span title="Speed Over Ground (knots)">SOG</span></dt>
    <dd class="log-data__value value--sog">{{ page.sog }} kt</dd>
  </dl>

  <h2>Remarks</h2>
  {{ content }}
</article>
